{% load static %}
{% include "header.html" %}

{% block main %}
{% block css %}
<link rel="stylesheet" href="{% static " index.css" %}">
<link rel="stylesheet" href="{% static " bootstrap.min.css" %}">
<style>
    h1,
    h2,
    p {
        color: white;
    }

    .content-wrapper {
        margin-left: 250px;
    }

    .about-section {
        padding: 20px;
        background-color:black;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 250px;
    }
</style>
{% endblock %}

<body style="background-color: black;>
    <div class="content-wrapper">
        <!-- <h1 style="color:white;text-align:center">About Playsink</h1> -->

        <section class="about-section">
            <h1 style="color:white;text-align:center;font-family: 'Times New Roman'">Welcome to Playsink</h1>
            <p style="font-family: 'Lucida Sans Unicode'">PlaysinkPro, a startup aiming to provide exceptional music services, embarked on a journey to
                revolutionize the music listening experience in 2023. Our foray into podcasting not only brought
                innovation but also ushered in a new generation of avid listeners to the medium. </p>
            <p style="font-family: 'Lucida Sans Unicode'">Today, PlaysinkPro will offer an extensive library of over 1 million tracks,allowing more listeners than ever to discover, manage, and enjoy content a la carte.
                As the world's premier audio streaming subscription service, PlaysinkPro boasts a staggering 602 million
                users, with 236 million subscribers spread across more than 180 markets.</p>

            <p  style="font-family: 'Lucida Sans Unicode'">Legal Name: Bigtree Entertainment Pvt. Ltd. Headquarters: Mumbai, Maharashtra, India Business Model: B2C
                Founding
                Date: Jul 1999 No. of Employees: 1000+
            </p>

            <p>Read more at:<a href="https://newsroom.spotify.com/company-info/">
                    https://newsroom.playsin.com/company-info/</a></p>
            <p>
                <li><a href="/donate" class="filter" style="text-decoration: none; color: white;">Donate Here </a></li>
            </p>
        </section>
    </div>
</body>
{% endblock main %}

{% include "footer.html" %}