{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static "index.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
</head>
<body style="background-color:#0c0d0f">
    {% include "header.html" %}
    
    <div class="container-fluid" style="background-image: url('{% static "playsinkpro.jpg" %}'); margin-top: -60px;">
        <div class="row justify-content-center">
            <div class="col-md-10 shadow mt-1">
                <div class="playlist mt-5">
                    <div class="container" style="margin-left:130px" >
                        <h1 class="text-left text-white">Songs</h1>
                        <div class="row">
                            {% for song in songs %}
                                <div class="col-md-4" style="padding: 20px">
                                    <div class="card h-100" style="background-color: transparent;">
                                        <img src="{{song.pimage.url}}" class="card-img-top"  alt="...">
                                        <div class="play">
                                            <span class="fa fa-play"></span>
                                        </div>
                                        <div class="card-body" >
                                            <h5 class="card-title"style="color:white"><b>{{ song.song_title }}</b></h5>
                                            <p class="card-text"style="color:white"><b>{{ song.artist_name }}</b></p>
                                            <p class="card-text"style="color:white"><b>{{ song.album_name }}</b></p>   
                                            <button class="btn btn-primary play-btn" data-song-url="{{song.song_file.url}}">Play</button>
                                            <button class="btn btn-primary pause-btn" data-song-url="{{song.song_file.url}}">Pause</button>
                                            <input type="range" class="seek-bar" min="0" max="100" value="0">
                                            {% if user.is_authenticated %}
                                                <a href="/add_to_playlist/{{ song.id }}"><button class="btn btn-info" style="margin-top: 10px;">Add to Playlist</button></a>
                                            {% endif %}
                                            <span class="start-time"></span><span class="end-time"></span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var currentAudio = null;
            var seekBar = null;
            var startTime = null;
            var endTime = null;
    
            $('.play-btn').click(function() {
                var songUrl = $(this).data('song-url');
                if (currentAudio && !currentAudio.paused) {
                    currentAudio.pause();
                }
                currentAudio = new Audio(songUrl);
                currentAudio.play();
    
                seekBar = $(this).closest('.card-body').find('.seek-bar');
                startTime = $(this).closest('.card-body').find('.start-time');
                endTime = $(this).closest('.card-body').find('.end-time');
    
                currentAudio.addEventListener('timeupdate', function() {
                    var position = currentAudio.currentTime / currentAudio.duration;
                    seekBar.val(position * 100);
                    updateTimes();
                });
    
                seekBar.on('input', function() {
                    var seekTime = currentAudio.duration * (this.value / 100);
                    currentAudio.currentTime = seekTime;
                    updateTimes();
                });
            });
    
            $('.pause-btn').click(function() {
                if (currentAudio && !currentAudio.paused) {
                    currentAudio.pause();
                }
            });
    
            function updateTimes() {
                var currentMinutes = Math.floor(currentAudio.currentTime / 60);
                var currentSeconds = Math.floor(currentAudio.currentTime % 60);
                var durationMinutes = Math.floor(currentAudio.duration / 60);
                var durationSeconds = Math.floor(currentAudio.duration % 60);
                startTime.text(currentMinutes + ':' + (currentSeconds < 10 ? '0' : '') + currentSeconds);
                endTime.text(durationMinutes + ':' + (durationSeconds < 10 ? '0' : '') + durationSeconds);
            }
        });
    </script>
</body>
</html>
