{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static "index.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
</head>
<body style="background-color:#0c0d0f">
    {% include "header.html" %}
    
    <div class="container-fluid" style="background-image: url('{% static "playsinkpro.jpg" %}'); margin-top: -60px;">
        <div class="row justify-content-center">
            <div class="col-md-10 shadow mt-1">
                <div class="playlist mt-5">
                    <div class="container" style="margin-left:130px" >
                        <h1 class="text-left text-white">Playlist</h1>
                        <div class="row">
                            {% for song in songs %}
<div class="col-md-4" style="padding: 20px">
    <div class="card h-100">
        <img src="{% static "music.png" %}" class="card-img-top" alt="...">
        <div class="play">
            <span class="fa fa-play"></span>
        </div>
        <div class="card-body" >
            <h5 class="card-title">{{ song.song_title }}</h5>
            <p class="card-text">{{ song.artist_name }}</p>
            <p class="card-text">{{ song.album_name }}</p>
            <button class="btn btn-primary play-btn">Play</button>
        </div>
    </div>
</div>
{% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
</body>
</html>
